<div class="container">
  {{#each post}}
    <div class="card mb-3">
      <div class="card-header d-flex justify-content-between text-muted">
        <a href="/@{{nome}}">{{nome}}</a>
        <small>
          {{post_like}}
        </small>
      </div>
      <div class="card-body p-4">
        <h2>
          {{{titulo}}}
        </h2>
        <div class="card-text">
          {{{conteudo}}}
        </div>

        {{#if fonte}}
          <div>
            <h4 class="text-muted">
              Fontes
            </h4>
            <ul>
              <li>
                <a href="{{fonte}}">{{fonte}}</a>
              </li>
            </ul>
          </div>
          
        {{/if}}
      </div>
      <div class="card-footer d-flex justify-content-between">
        <small class="text-muted">
          {{createdAt}}
        </small>
        <form action="/@{{nome}}/{{id}}/like" method="post"> 
          <button class="btn btn-danger">
            Gostei
            <span class="badge bg-danger">{{post_like}}</span>
          </button>
        </form>

      </div>
    </div>
    <div class="modal fade" id="modal" aria-hidden="true" aria-labelledby="modallabel" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Publicar Comentário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/@{{nome}}/{{id}}/comentar" method="post">
              <div class="mb-3">
                <textarea name="comentario" class="form-control" id="comentario" style="height: 150px;"></textarea>
              </div>
              <div class="mb-3 text-end">
                <button type="reset" class="btn btn-sm">Cancelar</button>
                <button type="submit" class="btn btn-sm btn-success">Comentar</button>
              </div>
            </form>
          </div>
          {{!-- <div class="modal-footer">
            <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
          </div> --}}
        </div>
      </div>
    </div>
    <div class="text-center">
      <div class="card container p-4">

        <button class="btn btn-secondary" data-bs-target="#modal" data-bs-toggle="modal">Comentar</button>
      </div>
    </div>
  {{/each}}
</div>

{{#each comments}}
  <div class="container p-4">
    <div class="card">
      <div class="card-header text-muted d-flex justify-content-between">
        <a href="/@{{nome}}">{{nome}}</a>
        <small>
          <small>
            {{createdAt}}
          </small>
        </small>
      </div>
      <div class="card-body">
        {{{comentario}}}
      </div>
    </div>
  </div>
{{/each}}